name: Build and Push

on: workflow_dispatch

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: todo-ui
      IMAGE_TAG: v1
      ACR_NAME: todoappacr001
      ACR_LOGIN_SERVER: todoappacr001.azurecr.io
    steps: 
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:           
          client-id: "0aa12f58-eeb0-42e2-a057-c6ccab716994"
          tenant-id: "98a591d8-2219-486b-b202-d02936d6bda0"
          subscription-id: "cba3453a-ff1f-4f51-b6f6-5a1149843776"

      - name: Log in to Azure Container Regostry
        run: |
          az acr login --name $ACR_NAME

      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME:$IMAGE_TAG .

      - name: Tag Docker Image for ACR
        run: | 
          docker tag $IMAGE_NAME:$IMAGE_TAG $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG
          
      - name: Push Docker Image to ACR
        run: | 
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG
